.purple-color{
    color: #8845f4;
}

<h1> Welcome to <span class="purple-color">Peter Parker</span> world </h1>

.experiences{
    padding: 30px;
    margin: 30px;
    background-color: rgb(238, 251, 255);
    border-radius: 20px;
}
.experience-item{
    padding: 10px;
    border-left: 1px solid rgba(137, 130, 247, .2);
}
